USE [ProgettoSQL]
GO
/****** Object:  Table [dbo].[Agenti]    Script Date: 09/02/2024 15:33:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agenti](
	[IDAgente] [int] IDENTITY(1,1) NOT NULL,
	[NomeAgente] [nvarchar](50) NOT NULL,
	[CognomeAgente] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Agenti] PRIMARY KEY CLUSTERED 
(
	[IDAgente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
