USE [ProgettoSQL]
GO
/****** Object:  Table [dbo].[Violazioni]    Script Date: 09/02/2024 15:33:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Violazioni](
	[IDViolazione] [int] IDENTITY(1,1) NOT NULL,
	[Descrizione] [nvarchar](510) NOT NULL,
 CONSTRAINT [PK_Violazioni] PRIMARY KEY CLUSTERED 
(
	[IDViolazione] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
